@model IEnumerable<BeeKeeperApp.Models.Entities.Trashumancia>

@{
    ViewData["Title"] = "Movimientos de Trashumancia";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <p>
        <a asp-action="Create" class="btn btn-honey">+ Registrar Traslado</a>
    </p>
</div>

<div class="glass-card">
    <table class="table table-custom">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Distancia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Fecha.ToShortDateString()</td>
                    <td>@item.ApiarioOrigen?.Nombre</td>
                    <td>@item.ApiarioDestino?.Nombre</td>
                    <td>@item.DistanciaKm Km</td>
                </tr>
            }
        </tbody>
    </table>
</div>
